/* You can add global styles to this file, and also import other style files */
.active{
    background-color: #f7033b;
}
.mainBody{
    // color: red;
    border: 1px solid blue;
    margin-top: 20px;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
*{
    line-height: 40px;
}